* {
  user-select: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* overflow-y: hidden; */
}
.swiper {
  width: 100%;
  height: 100%;
}
.App {
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2;
  margin-bottom: 10px;
}
.disable button:disabled,
.disable {
  border: 1px solid #999999;
  background-color: #cccccc;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  height: 30px;
  width: 80px;
  margin-right: 20px;
  cursor: not-allowed;
}
.hidden button:disabled,
.hidden {
  border: 1px solid #999999;
  background-color: #cccccc;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  height: 30px;
  width: 80px;
  margin-left: 10px;
  cursor: not-allowed;
}
/* .swiper-button-next,
.swiper-button-prev {
  background-image: none;
  background-size: 0;
  background-repeat: no-repeat;
  background-position: 0;
  margin-top: -1rem;
} */
/* .disable {
  display: none;
  font-size: 0%;
} */
.hero {
  background-image: url("assets/images/Herosugiintiperkasa.png");
  margin-top: 100px;
  height: 900px;
  width: auto;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
.headline {
  display: flex;
  color: #fff;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.previus {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  background-color: #35cdf3;
  margin-right: 10px;
  cursor: pointer;
}
.previus:hover {
  background-color: rgba(9, 7, 95, 0.616);
  color: rgb(253, 253, 253);
  cursor: pointer;
}
.page {
  height: 30px;
  width: 60px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: bold;
  user-select: none;
}
.next {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  font-size: 18px;
  color: black;
  background-color: #35cdf3;
  margin-left: 10px;
  cursor: pointer;
}
.next:hover {
  background-color: rgba(9, 7, 95, 0.616);
  color: rgb(253, 253, 253);
  cursor: pointer;
}

.font {
  font-weight: bold;
  color: #0237f4;
  /* background-color: #35cdf3; */
  text-decoration: none;
}
.link {
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
  color: #0237f4;
  /* font-weight: lighter; */
  /* color: #61dafb; */
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 100%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.myText {
  color: #61dafb;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: "25px";
  font-weight: lighter;
}
/* .myText:hover{
  color: blue;
  font-weight: bold;
} */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
